#main {
    .main {
        .spotlight {
            display: flex;
            flex-direction: column-reverse;
            @media screen and (min-width: $tablet) {
                flex-direction: row;
                align-items: center;
            }
            .image {
                padding: .5rem;
                display: inline-block;
                padding: .5rem;
                border-radius: 100%;
                border: 1px solid $lightgrey;
                width: 50%;
                margin: 1rem auto;
                @media screen and (min-width: $tablet) {
                    height: fit-content;
                    width: 100%;
                }
                @media screen and (min-width: $small-desktop) {
                    width: 70%;
                }
                img {
                    border-radius: 100%;
                }
            }

            .content {
                @media screen and (min-width: $tablet) {
                    padding-right: 3rem;
                }
                article {
                    p {
                        text-align: justify;
                        line-height: 1.5;
                    }
                    .button {
                        @include button-style();
                    }
                }
            }
        }
    }
}