/*===== Vertical Timeline =====*/
#exp {
    #conference-timeline {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 0;
        .conference-center-line {
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 2rem;
            margin-left: -2px;
            background: $color-green-vue;
            z-index: -1;
            @media screen and (min-width: $small-desktop) {
                left: 50%;
            }
        }
        .conference-timeline-content {
            .timeline-article {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                margin: 20px 0;
                .content-left-container, .content-right-container {
                    width: 80%;
                    @media screen and (min-width: $small-desktop) {
                        max-width: 43%;
                        width: 100%;
                        margin: 1rem 0;
                    }
                    .content-left, .content-right {
                        position: relative;
                        width: 95%;
                        border: 1px solid #ddd;
                        background-color: #fff;
                        padding: 1rem;
                        @include shadow-box();
                        .article-number {
                            display: flex;
                            justify-content: center;
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            font-weight: bold;
                            color: $color-green-vue;
                        }
                        .article-title {
                            display: block;
                            text-align: left;
                            text-transform: uppercase;
                            font-style: italic;
                            font-size: .8rem;
                            font-weight: normal;
                            color: $color-green-vue;
                        }
                        ul {
                            li {
                                text-align: left;
                                &:before {
                                    content: '- ';
                                }
                            }
                        }
                        p {
                            padding: 0;
                            font-weight: 400;
                            color: $color-green-vue;
                            text-align: left;
                            font-size: 14px;
                            line-height: 24px;
                            position: relative;
                            line-height: 1.2;
                        }
                        .content-left:before, .content-right:before {
                            position: absolute;
                            top: 20px;
                            font-size: 23px;
                            font-family: "FontAwesome";
                            color: #fff;
                        }
                    }
                }
                .content-left-container {
                    float: right;
                    @media screen and (min-width: $small-desktop) {
                        float: left;
                    }
                }
                .content-right-container {
                    float: right;
                }
                .meta-img {
                    position: absolute;
                    top: 0;
                    left: 2rem;
                    width: 60px;
                    height: 60px;
                    margin-left: -31px;
                    border-radius: 100%;
                    background: $white;
                    border: 1px solid $color-green-vue;
                    @media screen and (min-width: $small-desktop) {
                        left: 50%;
                    }
                    img {
                        position: relative;
                        top: 50%;
                        transform: translate(0, -50%);
                        &.reduc-img-seventy{
                            width: 70%;
                        }
                        &.reduc-img-seventy-five{
                            width: 75%;
                        }
                        &.reduc-img-heighty{
                            width: 80%;
                        }
                        &.academy{
                            top: 2rem;
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}