footer {
	position: relative;
	top: 100vh;
	padding: 1rem 0;
	background-color: $lightgrey;
	z-index: 5;
	border-top: .1rem solid $color-blue-vue;
	.icon-footer {
		text-align: center;
		a {
			margin: 1rem;
			img {
				transition: 0.8s;
				-webkit-transition: 0.8s;
				-moz-transition: 0.8s;
				-ms-transition: 0.8s;
				-o-transition: 0.8s;
				width: 3%;
				height: 100%;
				&:hover {
					background-color: $color-green-vue;
					padding: .2rem;
					border-radius:50%;
					-webkit-border-radius:50%;
					-moz-border-radius:50%;
					-ms-border-radius:50%;
					-o-border-radius:50%;
				}
			}
		}
	}
}