#header {
   height: calc(100vh - 10rem);
   font-family: 'Lobster Two', cursive;
    svg {
        width: 700px;
        height: auto;
        margin: 0 auto;
        display: block;
        position: relative;
        z-index: 3;
        &:first-child {
            margin-top: 10rem;
        }
        &:last-child {
            margin-top: 3rem;
        }
        .name {
            letter-spacing: 0.4rem;
            font-size: 10rem;
            fill: $color-blue-vue;
            stroke: $color-green-vue;
            fill-opacity: 1;
            stroke-width: 0;
            stroke-dasharray: 100% 0;
            animation: stroke-offset 8s infinite;
            -webkit-animation: stroke-offset 8s infinite;
        }
        .job {
            font-size: 4rem;
            fill: $color-blue-vue;
            stroke: $color-green-vue;
            fill-opacity: 1;
            stroke-width: 0;
            stroke-dasharray: 100% 0;
            animation: stroke-offset 8s ease-in-out;
            -webkit-animation: stroke-offset 8s ease-in-out;
            -webkit-box-shadow: 10px 18px 12px -8px rgba(0, 0, 0, 0.40);
            -moz-box-shadow: 10px 18px 12px -8px rgba(0, 0, 0, 0.40);
            box-shadow: 10px 18px 12px -8px rgba(0, 0, 0, 0.40);
        }
    }
    

    @keyframes stroke-offset {
        0% {
            fill-opacity: 1;
            stroke-width: 0;
            stroke-dasharray: 0% 100%;
        }

        25% {
            stroke-width: 3px;
        }

        50% {
            fill-opacity: 0;
        }

        75% {
            stroke-width: 3px;
        }

        100% {
            stroke-width: 0;
        }
    }
}