#main {
    width: 100%;
    background-color: $white;
    position: relative;
    top: 0;
    z-index: 3;
    color: #636363;
    font-size: 1rem;
    border-bottom: 2px solid $lightgrey;
    section {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 1rem;
        @media screen and (min-width: $tablet) {
            width: 70%;
            padding-bottom: 1.5rem;
        }
        a {
            text-decoration: none;
            color: #636363;
            &:hover {
                color: $color-blue-vue;
            }
        }
        h2 {
            @include style-h2();
        }
    }
}