@mixin style-h2() {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
    color: $color-green-vue;

    &:after {
        content: '';
        display: block;
        width: 30%;
        height: 0.1rem;
        margin: 1rem auto;
        border-radius: 10px;
        background-color: #dddddd;
        background-image: -moz-linear-gradient(to right, #41b883, #009e91, #00818f, #20647d, #35495e);
        background-image: -webkit-linear-gradient(to right, #41b883, #009e91, #00818f, #20647d, #35495e);
        background-image: -ms-linear-gradient(to right, #41b883, #009e91, #00818f, #20647d, #35495e);
        background-image: linear-gradient(to right, #41b883, #009e91, #00818f, #20647d, #35495e);
    }
}

@mixin button-style() {
    width: fit-content;
    margin: 1rem auto;
    border: 2px solid $color-green-vue;
    border-radius: 20px;
    padding: .5rem;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    a {
        .icon {
            margin: 0 0 0 0.3rem;
        }
    }
    &::after {
        position: relative;
        right: 0;
        content: "\276f";
        transition: all 0.3s linear;
    }
    &:hover {
        &:after {
            right: -5px;
        }
    }
    @media screen and (min-width: $tablet) {
        margin: 1rem 0;
        padding: 0.5rem 1rem;
    }
}