#nav {
    display: none;
    @media screen and (min-width: $tablet) {
        display: block;
        background-color: $lightgrey;
        color: #636363;
        position: sticky;
        z-index: 5;
        top: 0;
        width: 100%;
        cursor: default;
        text-align: center;
        padding: 0.5rem 0;

       background-color: $lightgrey;
        ul {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            li {
                padding: .5rem;
                display: flex;
                align-items: center;
                &.active {
                    background-color: $color-green-vue;
                    padding: .2rem .8rem;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    a {
                        color: $white;
                    }
                }
                a {
                    color: $color-blue-vue;
                    font-size: 1.2rem;
                    text-decoration: none;
                }
            }
        }
    }
    @media screen and (min-width: $small-desktop) {
        ul {
            width: 70%;
        }
    }
}