#project {
    section {
        width: 100%;
        ul {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            li {
                display: inline-block;
                height: fit-content;
                width: 45%;
                margin: .5rem 0;
                .container {
                    position: relative;
                    margin: 5px;
                    overflow: hidden;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    @include shadow-box();
                    a {
                        .caption {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            opacity: 0;
                            justify-content: center;
                            z-index: 2;
                            width: 100%;
                            color: $white;
                            transition: all $transition2;
                        }
                        .overlay-img {
                            align-content: center;
                            z-index: 1;
                            position: absolute;
                            opacity: 1;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: $color-blue-vue-tranparent;
                            width: inherit;
                            height: 100%;
                            overflow: hidden;
                            transform: skew(-45deg) scaleX(0);
                            transition: all $transition $easing2;
                        }
                    }
                    &:hover {
                      .overlay-img {
                        height: 100%;
                        opacity: 0.95;
                        transform: skew(-45deg) scaleX(1);
                      }
                      .caption {
                        opacity: 1;
                      }
                    }
                }
            }
        }
    }
}
