#main {
    #skills {
        .features {
            @media screen and (min-width: $tablet) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            @media screen and (min-width: $small-desktop) {
                flex-wrap: nowrap;
            }
            li {
                @media screen and (min-width: $tablet) {
                    float: left;
                    width: 45%;
                }
                @media screen and (min-width: $small-desktop) {
                    width: 23%;
                }
                div {
                    display: flex;
                    padding: .5rem;
                    border-radius: 100%;
                    border: 1px solid lightgrey;
                    margin: 1rem auto;
                    width: fit-content;
                    height: fit-content;
                    .icon{
                        color: $color-blue-vue;
                        width: 100px;
                        height: 100px;
                        border: 1px solid lightgray;
                        border-radius: 100%;
                        padding: 1rem;
                        &-code,&-plus{
                            color: $color-green-vue;
                        }
                    }
                }
                h3 {
                    font-size: 1.5rem;
                    border-bottom: 1px solid lightgray;
                    padding: 1rem 0;
                    @media screen and (min-width: $small-desktop) {
                        min-height: 80px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }
                }
                .featuresDetail {
                    padding: 0.5rem 0;
                    border: none;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    p {
                        background-color: $color-blue-vue;
                        color: $white;
                        margin: 0.3rem;
                        padding: 0.3rem 0.5rem;
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
}
                }
            }
        }
    }
}